[include]
	path = .dotfiles/gitconfig-local
[user]
	name = Patrick Wyatt
	email = pat@onemoregame.com
	signingkey = 237DED3395984548
[core]
	editor = vi
	eol = lf
	autocrlf = input
	safecrlf = warn
	mergeoptions = --no-ff --no-commit
	trustctime = false
	filemode = false
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
[commit]
	gpgsign = true
[submodule]
	recurse = true
[rebase]
	updateRefs = true
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[lfs]
	concurrenttransfers = 100
[https]
	postBuffer = 1048576000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
	status = always
	branch = auto
[alias]
	lg = log -p
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	lo = log --pretty=oneline
	glog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph
	ulog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	last = log -1 --stat
	cp = cherry-pick
	cl = clone
	ci = commit
	cns = -c commit.gpgsign=false commit
	ign = ls-files -o -i --exclude-standard
	pushf = push --force-with-lease
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	pr = "!f() { if [ $# -lt 1 ]; then echo \"Usage: git pr <id> [<remote>]	# assuming <remote>[=origin] is on GitHub\"; else git checkout -q \"$(git rev-parse --verify HEAD)\" && git fetch -fv \"${2:-origin}\" pull/\"$1\"/head:pr/\"$1\" && git checkout pr/\"$1\"; fi; }; f"
	branches = "!f() { git for-each-ref --format=' %(authorname) %09 %(refname)' --sort=authorname | grep -v 'refs/tags/' ; }; f"
	delete-merged = ! git-delete-merged
[difftool]
	prompt = false
[mergetool]
	keepBackup = false
	prompt = false
[difftool "vscode"]
	cmd = code --reuse-window --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --reuse-window --wait --merge $REMOTE $LOCAL $BASE $MERGED
